# VS Code and venv
venv/
.vscode/
.venv*/
venv*/

# Python cache files
__pycache__/
*.pyc

# IPython/Jupyter/SymPy temp files
*.ipynb_checkpoints/
*.1
*.out
*.log

# model files
models/
models/*.safetensors
models/*.bin
models/*.json